$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$primary: #323232;
$primaryAlt: #0095FF;
$primaryLight: #AFAFAF;
$primaryLighter: #FFFFFF;
$secondary: #000000;
$secondaryAlt: #0065AD;
$secondaryLight: #E1E1E1;
$secondaryLighter: #FAFAFA;
