@use "../../styles/partials/mixins" as *;
@import "../../styles/partials/variables";

.comments {
  &__wrapper {
    display: flex;
    flex-direction: row;
    border-top: 0.063rem solid $secondaryLight;
    padding-top: 0.75rem;
    gap: 1rem;
    @include tablet {
      padding-top: 1.5rem;
      border-top: 0;
      border-bottom: 0.063rem solid $secondaryLight;
    }
    @include desktop {
      padding-right: 2rem;
    }
    &-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 0.813rem;
    }
  }
  &__name {
    font-weight: 700;
  }
  &__date {
    color: $primaryLight;
  }
  &__text {
    margin: 0.75rem 0rem;
    font-size: 0.813rem;
    color: $primary;
    line-height: 1.125rem;
    @include tablet {
      margin-bottom: 1.5rem;
      font-size: 0.875rem;
    }
  }
  &__avatar {
    max-height: 2.25rem;
    min-width: 2.25rem;
    background-color: $secondaryLight;
    border-radius: 50%;
  }
}
