@use "../../styles/partials/mixins" as *;
@import "../../styles/partials/variables";

.video {
  width: 100vw;
  aspect-ratio: 16/9;
  @include tablet {
    width: 90vw;
  }
  @include desktop {
    width: 75vw;
  }

  &__wrapper {
    display: flex;
    @include tablet {
      background-color: $secondary;
      justify-content: center;
      display: flex;
    }
  }
}
