@import "../../styles/partials/variables";

.comments {
  &__wrapper {
    display: flex;
    flex-direction: row;
    border-top: 0.063rem solid $secondaryLight;
    padding-top: 0.75rem;
    &-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 0.813rem;
    }
  }
  &__date {
    color: $primaryLight;
  }
  &__text {
    margin: 0.75rem 0rem;
    font-size: 0.813rem;
    color: $primary;
    line-height: 1.125rem;
  }
  &__avatar {
    height: 2.25rem;
    width: 9.585rem;
    margin-right: 1rem;
    background-color: $secondaryLight;
    border-radius: 50%;
    position: relative;
  }
}

